.desktop_menu{
    width: 100px;
    height: auto;
    border: 1px solid var(--store_purple);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}

.desktop_menu ul{
    margin: 0;
    padding: 0;

    list-style: none;
}

.desktop_menu ul li{
    text-align: end;
    margin-bottom: 20px;
}

.desktop_menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--store_purple);
}


.desktop_menu ul li:last-child a{
    font-size: var(sm);
    color: var(--store_purple);
    text-decoration: none;
}

.desktop_menu ul li:not(:last-child) a{
    font-size: var(sm);
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
}