:root{
    --light_grey:#7e7d7d;
    --text_input_field:#F7F7F7;
    --very-light-pink: #f7eaf3;
    --store_purple:#c98de1;
    --white:#FFFFFF;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body{
    font-family: 'Quicksand', sans-serif;

    margin: 0;
}


.primary_button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 8px;

    background-color: var(--store_purple);
    color: var(--white);
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}

.secondary_button{
    width: 100%;
    height: 40px;
    border: 1px solid var(--store_purple);
    border-radius: 8px;

    background-color: var(--white);
    color: var(--store_purple);
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}

