:root{
    --card_size:150px;
    --container_size:600px;
}

.my_order{
    display: grid;
    place-items: center;

    width: 100%;
    height: 100vh;
}

.title{
    margin-bottom: 20px;
    
    font-size: var(--lg);
    text-align: center;
}

.my_order_container{
    width: var(--container_size);
} 

.my_order_contents{
    display: flex;
    flex-direction: column;
}

.order{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;

    height: 60px;
    padding: 0px 24px 0px 24px;
    border-radius: 8px;
    margin-bottom: 20px;

    background-color: var(--very-light-pink);
}

.order p:nth-child(1){
    display: flex;
    flex-direction: column;
}

.order p span:nth-child(1){
    font-size: var(--md);
    color: var(--black);
}

.order p span:nth-child(2){
    text-align: center;

    font-size: var(--sm);
    color: var(--light_grey);
}

.order p:nth-child(2){
    text-align: end;
    font-weight: bold;
}

.shopping_cart figure img{ /*A figure lo cuenta como un p*/
    width: var(--card_size);
    height: var(--card_size);
    border-radius: 20px;
    object-fit: cover;
}

.shopping_cart p:nth-child(2){
    color: var(--light_grey);
    font-size: var(--md);
}

.shopping_cart p:nth-child(3){
    color: var(--black);
    font-size: var(--md);
    font-weight: bold;
}

.shopping_cart{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    align-items:center;

    margin-bottom: 20px;
    padding-right: 25px;
}

.shopping_cart figure{
    margin: 0;
}

@media (max-width:675px){
    :root{
        --container_size: 450px;
        --card_size:100px;
    }
}
@media (max-width:475px){
    :root{
        --container_size: 350px;
        --card_size:80px;
    }
}

